
.fuente-titulo{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

blockquote {
    border-left: 4px solid #555;
    padding-left: 1rem;
    color: #555;
    font-style: italic;
}