:root {
    /* Colores de fondo */
    --bg-claro: #F2F5F8;
    --bg-oscuro: #0E1F3D;
    --bg-gris-claro: #B0B0B0;

    /* Colores de texto */
    --fs-principal: #0E1F3D;
    --fs-clara: #D5DBE5;
    --fs-gris-oscura: #2E2E3A;
    --fs-rojo: #C00F0C;

    /* Tipografía (opcional) */
    --font-principal: 'Segoe UI', sans-serif;
}

/* (Opcional) Tipografía base */
body {
    font-family: var(--font-principal);
    min-height: 100vh;
    padding-bottom: 100px;
}

.contenedor {
    padding-top: 70px;
}

.nav-link {
    color: #153b7e;
}

/* Fondos */
.bg-claro {
    background-color: var(--bg-claro);
}

.bg-oscuro {
    background-color: var(--bg-oscuro);
}

.bg-gris-claro {
    background-color: var(--bg-gris-claro);
}

/* Colores de fuente */
.fs-principal {
    color: var(--fs-principal);
}

.fs-clara {
    color: var(--fs-clara);
}

.fs-gris-oscura {
    color: var(--fs-gris-oscura);
}

.fs-rojo {
    color: var(--fs-rojo);
}

/* Botones */
.btn-primario {
    background-color: var(--bg-oscuro);
    color: var(--fs-clara);
}

.btn-primario:hover,
.btn-secundario:hover {
    border: 1px solid var(--bg-oscuro);
}

.btn-secundario {
    background-color: var(--bg-gris-claro);
    color: var(--fs-gris-oscura);
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

.sidebar-slide-in {
    animation: slideInSidebar 0.2s ease-out forwards;
}

.sidebar-slide-out {
    animation: slideOutSidebar 0.2s ease-in forwards;
}


.links-container a {
    width: 130px;
}

@keyframes slideInSidebar {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOutSidebar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}



@media only screen and (min-width: 768px) {
    .contenedor {
        padding-top: 0px;
    }
}

/* Transición suave al cargar contenido */
#contenido-dinamico {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#contenido-dinamico.visible {
    opacity: 1;
    transform: translateY(0px);
}


/* Correccion footer superpuesto */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Ocupará el espacio restante, empujando el footer abajo */
}

main {
    padding-bottom: 1rem;
}