@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* SweetAlert2 Custom Styles */

.swal2-icon {
  font-size: 15px;
}

.swal2-actions {
  flex-direction: row-reverse;
}

/* FONDO PARA DIVS */
.bg-principal {
  background-color: #0E1F3D;
}

/* FONDOS PARA BUTTONS */
.principal-button {
  background-color: #0E1F3D;
  transition: 0.3s all ease;
}

/* HOVER AL BUTTON*/
.principal-button:hover {
  background-color: #0E3780;

}

.fuente-principal {
  color: #0E1F3D;
}

.fuente-clara {
  color: #f5f5f5;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
}

.db-item-1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
}

.db-item-2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
}

.db-item-3 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 3;
}

.db-item-4 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-row-start: 4;
}